<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheny.springboot.dao.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.cheny.springboot.domain.Activity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="startdate" jdbcType="CHAR" property="startdate" />
    <result column="enddate" jdbcType="CHAR" property="enddate" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createtime" jdbcType="CHAR" property="createtime" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="edittime" jdbcType="CHAR" property="edittime" />
    <result column="editby" jdbcType="VARCHAR" property="editby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owner, name, startdate, enddate, cost, description, createtime, createby, edittime,
    editby
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="detail" resultType="com.cheny.springboot.domain.Activity">
    select a.id,a.name,b.name as owner,a.startdate,a.enddate,a.cost,a.description,a.createtime,a.createby,
     a.edittime,a.editby from t_activity a join t_user2 b on a.owner=b.id where a.id=#{id}
  </select>
  <update id="updateone">
    update t_activity set owner=#{owner},
    name=#{name},
    startdate=#{startdate},
    enddate=#{enddate},
    cost=#{cost},
    description=#{description},
    edittime=#{edittime},
    editby=#{editby}
    where id=#{id}


  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity
  </select>

  <select id="getListActivity" resultType="com.cheny.springboot.domain.Activity">
    select * from t_activity where id=#{id}
  </select>

  <select id="selectbycondition" resultType="com.cheny.springboot.domain.Activity">


    select a.id,a.name,b.name as owner,a.startdate,a.enddate from t_activity a join t_user2 b on a.owner=b.id
    <where>
      <if test="name!=null and name!=''">
        a.name like '%' #{name} '%'
      </if>

      <if test="owner!=null and owner!=''">
        and b.name like '%' #{owner} '%'
      </if>

      <if test="startdate!=null and startdate!=''">
        and a.startdate &gt; #{startdate}
      </if>

      <if test="enddate!=null and enddate!=''">
        and a.enddate &lt; #{enddate}
      </if>
    </where>
    order by a.createtime desc limit #{skipCount},#{pageSize}
  </select>

  <delete id="deleteByIds">
    delete from t_activity
    where id in
    <foreach collection="array" item="aidw" open="(" close=")" separator=",">
      #{aidw}
    </foreach>
  </delete>

  <select id="selectcountbycondition" resultType="int">
    select count(*) from t_activity a join t_user2 b on a.owner=b.id
    <where>
      <if test="name!=null and name!=''">
        a.name like '%' #{name} '%'
      </if>

      <if test="owner!=null and owner!=''">
        and b.name like '%' #{owner} '%'
      </if>

      <if test="startdate!=null and startdate!=''">
        and a.startdate &gt; #{startdate}
      </if>

      <if test="enddate!=null and enddate!=''">
        and a.enddate &lt; #{enddate}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_activity
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cheny.springboot.domain.Activity">
    insert into t_activity (id, owner, name, startdate,
      enddate, cost, description,
      createtime, createby, edittime,
      editby)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startdate,jdbcType=CHAR},
      #{enddate,jdbcType=CHAR}, #{cost}, #{description,jdbcType=VARCHAR},
      #{createtime,jdbcType=CHAR}, #{createby,jdbcType=VARCHAR}, #{edittime,jdbcType=CHAR},
      #{editby,jdbcType=VARCHAR})
  </insert>
  <insert id="save" parameterType="com.cheny.springboot.domain.Activity">
    insert into t_activity (id, owner, name, startdate,
      enddate, cost, description,
      createtime, createby)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startdate,jdbcType=CHAR},
      #{enddate,jdbcType=CHAR}, #{cost}, #{description,jdbcType=VARCHAR},
      #{createtime,jdbcType=CHAR}, #{createby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cheny.springboot.domain.Activity">
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startdate != null">
        startdate,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="edittime != null">
        edittime,
      </if>
      <if test="editby != null">
        editby,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=CHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        #{cost},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=CHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=CHAR},
      </if>
      <if test="editby != null">
        #{editby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cheny.springboot.domain.Activity">
    update t_activity
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        startdate = #{startdate,jdbcType=CHAR},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        cost = #{cost},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=CHAR},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=CHAR},
      </if>
      <if test="editby != null">
        editby = #{editby,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cheny.springboot.domain.Activity">
    update t_activity
    set owner = #{owner,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      startdate = #{startdate,jdbcType=CHAR},
      enddate = #{enddate,jdbcType=CHAR},
      cost = #{cost},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=CHAR},
      createby = #{createby,jdbcType=VARCHAR},
      edittime = #{edittime,jdbcType=CHAR},
      editby = #{editby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>