<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheny.springboot.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.cheny.springboot.domain.User">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginAct" jdbcType="VARCHAR" property="loginact" />
    <result column="loginPwd" jdbcType="VARCHAR" property="loginpwd" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, loginAct, loginPwd, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user2
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectAll" resultType="com.cheny.springboot.domain.User">
    select
    <include refid="Base_Column_List" />
    from t_user2
  </select>
  <select id="selectByActPwd" resultType="com.cheny.springboot.domain.User">
    select
    <include refid="Base_Column_List" />
    from t_user2
    where loginAct = #{loginAct} and loginPwd=#{loginPwd}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user2
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cheny.springboot.domain.User">
    insert into t_user2 (id, name, loginAct, 
      loginPwd, email)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{loginact,jdbcType=VARCHAR}, 
      #{loginpwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cheny.springboot.domain.User">
    insert into t_user2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginact != null">
        loginAct,
      </if>
      <if test="loginpwd != null">
        loginPwd,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginact != null">
        #{loginact,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cheny.springboot.domain.User">
    update t_user2
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginact != null">
        loginAct = #{loginact,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        loginPwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cheny.springboot.domain.User">
    update t_user2
    set name = #{name,jdbcType=VARCHAR},
      loginAct = #{loginact,jdbcType=VARCHAR},
      loginPwd = #{loginpwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>